.footer {
	padding: 30px;
	background-color: rgba(236, 232, 232, 0.911);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
  .h5{
        text-align: center;
        color: black;
  }
  